/* Asegúrate de importar este archivo en tu proyecto */
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}

table {
  border-collapse: collapse; /* Elimina la separación entre los bordes */
  width: 100%;
  border: 1px solid #ddd; /* Bordes de la tabla */
  border-radius: 8px; /* Esquinas redondeadas */
  overflow: hidden; /* Asegura que las esquinas redondeadas se apliquen correctamente */
}

td {
  border: 1px solid #ddd; /* Bordes de las celdas */
  padding: 8px;

}
th {
  border: 1px solid #ddd; /* Bordes de las celdas */
  padding: 8px;
  text-align: center; /* Centra el contenido de las celdas */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Color de fondo para las filas pares */
}

tr.cantidad-a-producir {
  background-color: #d2dec8; /* Color de fondo distinto para la fila "Cantidad a producir" */
 
}

tr:hover {
  background-color: #ddd; /* Color de fondo al pasar el ratón por encima */
}


/* Ocultar las flechas de dirección en los inputs de tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield; /* Standard */
  -moz-appearance: textfield; /* Firefox */
}